@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Clique aqui <a href="https://learn.microsoft.com/aspnet/core">Seja bem vindo .Net</a>.</p>
</div>
